@tailwind base;
@tailwind components;

@layer base {
  @font-face {
    font-family: Proxima Nova;
    font-weight: 400;
    src: url(../fonts/ProximaNova-Regular.woff2) format('woff2');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 500;
    src: url(../fonts/ProximaNova-Medium.woff2) format('woff2');
  }

  @font-face {
    font-family: Proxima Nova;
    font-weight: 600;
    src: url(../fonts/ProximaNova-Semibold.woff2) format('woff2');
  }
}

@tailwind utilities;

@layer base {
  html {
    font-family: 'Proxima Nova', system-ui, sans-serif;
  }

  body {
    @apply dark:bg-theme-dark-4 dark:text-white
  }
}

@layer components {
  .h-modal {
    height: calc(100% - 2rem);
  }

  .bg-primary {
    @apply bg-gradient-to-r from-orange-500 to-red-500 text-white
  }
}